DATABASE_URL=postgresql://root:02DeAbril@172.26.20.32:5432/allaria_hub
GOOGLE_CLIENT_ID=TU_GOOGLE_CLIENT_ID.apps.googleusercontent.com
LITELLM_URL=https://litellm.allaria.xyz/v1/chat/completions
LITELLM_KEY=sk-eWkdUVfWsfB4YVYHi935aw
PORT=3098
CORS_ORIGIN=https://ia.allaria.xyz
