REPO_URL=https://oauth2:TOKEN@gitlab.allaria.xyz/allaria-sandbox/user-project.git
LITELLM_URL=http://172.30.200.101:4000
LITELLM_KEY=sk-allaria-xxx
SESSION_ID=session-abc123
BACK_URL=http://back.allaria-hub.svc.cluster.local:3098
WORKSPACE_DIR=/workspace
PORT=3200
